.algolia-autocomplete {
	z-index: 999999 !important;
}
.aa-dropdown-menu {
	/* we set the width in JS */
	font-family: sans-serif;
	background-color: #fff;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
}

.aa-dropdown-menu:after {
	content: " ";
	display: block;
	clear: both;

}

.aa-dropdown-menu .aa-input, .aa-dropdown-menu .aa-hint {
	width: 100%;
}
.aa-dropdown-menu .aa-hint {
	color: #999;
}

/* Font */
.aa-dropdown-menu {
	color: #1a1a1a;
	font-size: 12px;
}

.aa-dropdown-menu a {
	font-size: 12px;
	color: #1a1a1a;
	font-weight: normal;
	text-decoration: none;
}
.aa-dropdown-menu a:hover {
	text-decoration: none;
}

/* Header */
.aa-dropdown-menu .autocomplete-header {
	margin: 0 14px;
	line-height: 3em;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.aa-dropdown-menu .autocomplete-header-title,
.aa-dropdown-menu .autocomplete-header-more
{
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
}

.aa-dropdown-menu .autocomplete-header-title {
	float: left;
}

.aa-dropdown-menu .autocomplete-header-more {
	float: right;
}

.aa-dropdown-menu .autocomplete-header-more a {
	color: rgba(0,0,0,.3);
	font-weight: bold;
}

.aa-dropdown-menu .autocomplete-header-more a:hover {
	color:  rgba(0,0,0,.4);
}

/* Suggestion */

.aa-dropdown-menu .aa-suggestion {
	padding: 5px 0;

}

.aa-dropdown-menu .aa-suggestion:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.aa-dropdown-menu .aa-suggestion em {
	color: #174d8c;
	background: rgba(143,187,237,.1);
	font-style: normal;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-title {
	font-weight: bold;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-content {
	color: #63676d;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.aa-dropdown-menu .aa-suggestion .suggestion-post-content em {
	padding: 0 0 1px;
	background: inherit;
	box-shadow: inset 0 -2px 0 0 rgba(69,142,225,.8);
	color: inherit;
}

.aa-dropdown-menu .aa-suggestion.aa-cursor {
	background-color: #f9f9f9;

}

.aa-dropdown-menu a.suggestion-link {
	display: block;
	padding: 0 14px;
}

.aa-dropdown-menu a.suggestion-link.user-suggestion-link {
	line-height: 32px;
}


.aa-dropdown-menu a.suggestion-link svg {
	vertical-align: middle;
	fill: rgba(0,0,0,.3);
	float: left;
}

.aa-dropdown-menu .suggestion-post-thumbnail {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	width: 32px;
	height: 32px;
}

.aa-dropdown-menu .suggestion-user-thumbnail {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 16px;
	width: 32px;
	height: 32px;
}

/* Footer */
.aa-dropdown-menu .autocomplete-footer-branding {
	padding: 15px 14px 0px;
	float: right;
	color: rgba(0,0,0,.3);
	margin-bottom: 7px;
}

/* Clearfix */
.aa-dropdown-menu .clear {
	clear: both;
}

/* Empty */
.autocomplete-empty {
	clear: both;
	padding: 15px;
}

.autocomplete-empty .empty-query {
	font-weight: bold;
}
