node_modules
/dist

# wordpress files
wordpress/*
!wordpress/wp-content

wordpress/wp-content/*
!wordpress/wp-content/plugins

wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/algolia/
!wordpress/wp-content/plugins/visitsmatters/
