.btn {
  background: $darkish-pink;
  color: #fff;
  border: 1px solid $red-pink;
  height: 40px;
  max-width: 340px;
  line-height: 40px;
  padding: 0 1em;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background 0.1s ease;
  cursor: pointer;

  &:hover,
  &:active {
    background: $red-pink
  }

  &.btn-cta {
    width: 200px;
    margin: 32px auto;
  }

  &.btn-grey {
    background: $silver;
    border-color: $light-blue-grey;
    border-width: 2px;
    color: $grey-blue;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  &.btn-black {
    background: $black;
    border-color: mix($black, #fff, 90%);
  }

  &.btn-green {
    background: #3ecf8e;
    border: none;

    &:hover {
      background: darken(#3ecf8e, 10%);
      color: #efefef
    }
  }


  &-ghost {
    background: transparent;
    border-color: currentColor;
    font-weight: bold;
    max-width: inherit;
    padding: 0 32px;

    &-grey {
      color:  $steel;

      &:hover {
        background: $steel;
        border-color: $steel;
        color: #fff;

        .ico-triangle {
          border-left-color: #fff
        }
      }
    }

    &-pink {
      color:  $red-pink;

      &:hover {
        background: $red-pink;
        border-color: $red-pink;
        color: #fff;
      }
    }
  }

  img {
    display: inline-block;
    position: relative;
    float: left;
    top: 8px;
    margin-right: 1em;
  }
}
