#algolia-settings .wrapper
{
    margin: 20px;
}

#algolia-settings .content-wrapper .content
{
    background-color: white;
    padding: 20px 5px;
    border: solid 1px #DDDDDD;
    border-top: none;
}
#algolia-settings .content-wrapper .content h3
{
    border-bottom: 1px solid #DDD;
    padding-left: 5px;
}
#algolia-settings .content-wrapper .content .help-block {
    border-left: 5px solid #DDD;
    background-color: #F1F1F1;
    padding: 10px;
    margin-left: 5px;
}

#algolia-settings .content-wrapper .content .warning {
    border-left: 5px solid #DDD;
    background-color: #f1cc6d;
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
}

#algolia-settings .content-wrapper .content .help-block a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#algolia-settings .content-wrapper .content label
{
    font-weight: bold;
}
#algolia-settings .content-wrapper .content p.description
{
    margin-left: 10px;
    color: rgb(102, 102, 102);
}
#algolia-settings .content-wrapper .content input
{
}

#algolia-settings .content-wrapper .content input[type="text"], #algolia-settings .content-wrapper .content input[type="password"]
{
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
}
#algolia-settings .content-wrapper .content table {
    width: 100%;
    border-spacing: 0;
}
#algolia-settings .content-wrapper .content table th, #algolia-settings .content-wrapper .content table td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
#algolia-settings .content-wrapper .content table th {
    background: #EFEFEF;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

#algolia-settings .content-wrapper .content table .no-border {
    border: 0;
    background: none;
}

#algolia-settings .content-wrapper .content .content-item
{
    padding: 5px;
}

#algolia-settings .content-wrapper .title
{
    text-align: center;
    padding: 5px;
    border-bottom: solid 1px #DDDDDD;
}

#algolia-settings .content-wrapper .show-hide
{
    margin-left: 50px;
}

#algolia-settings .tabs .title
{
    float: left;
    display: inline;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    border: solid 1px #DDDDDD;
    border-bottom: none;
    margin-right: 2px;
    cursor: pointer;
}

#algolia-settings .tabs .title.selected
{
    background-color: white;
    border-bottom: solid 1px #f5f5f5;
    margin-bottom: -1px;
    padding-bottom: 11px;
    cursor: auto;
}

#algolia-settings .tabs
{
    border-bottom: solid 1px #DDDDDD;
}

#algolia-settings #results-wrapper .content-item
{
    padding: 5px;
}

#algolia-settings #results-wrapper
{
    padding: 10px 5px;
    border: solid 1px #DDDDDD;
    background-color: white;
    margin-top: 20px;
}

#algolia-settings #taxonomies tbody,
#algolia-settings #extra-metas tbody,
#algolia-settings #indexable-types tbody,
#algolia-settings #custom-ranking tbody,
#algolia-settings #searchable_attributes tbody
{
    cursor: move;
}

#algolia-settings .no-screenshot
{
    height: 18px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
}

#algolia-settings .warning
{
    background-color: #c7deec;
    padding: 10px;
    margin-top: -20px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

.header-button
{
    float: right;
    margin-right: 20px !important;
}

#algolia_reindex i
{
    vertical-align: middle;
}

#dashboard-link {
    display: block;
    margin-top: 0.5em;
}